@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a id="stackoverflow-anchor" href="https://stackoverflow.com/users/5361412/kolob-canyon">
               <img id="stackoverflow-img" src="https://stackoverflow.design/assets/img/logos/so/logo-stackoverflow.svg"/>
            </a>
            <a href="https://github.com/Kellen-Stuart" class="bi bi-github"></a>
            <a href="https://instagram.com/kellenmstuart" class="bi bi-instagram"></a>
        </div>


        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
