@page "/Contact"
@inherits ArticleBase
@inject IJSRuntime Js

<div class="row">
    <div class="@Content">
        <h3>
            Contact
            <small class="text-muted">Kellen Stuart</small>
        </h3>
        <hr/>
    </div>
</div>
<div id="kellen-calendly" class="calendly-inline-widget" data-url="https://calendly.com/kellenstuart" style="min-width:320px;height:630px;"></div>

@*
<div class="row">
    <div class="@Content">
        <p>
            Please
            <a href="@Urls["Calendly"]">schedule a time</a>
            for a phone call on my calendar.
        </p>
    </div>
</div>
*@

@code
{
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        Js.InvokeVoidAsync("initCalendly");
    }
}
