@page "/Contact"

<h1>Contact</h1>
<div class="row">
    <div class="col-8">
        <p>
            Social media links are in the top right-hand corner. Will include a way to contact by email in the upcoming future. Thank you!
        </p>
    </div>
</div>

@code {
    private string label = "col-2";
    private string content = "col-10";
    private string row = "row mb-4";
    private string ul = "ul-dashes ul-padding-gentle";
}
