@page "/Contact"
@inherits ArticleBase

<div class="row">
    <div class="@Content">
        <h3>
            Contact
            <small class="text-muted">Kellen Stuart</small>
        </h3>
        <hr/>
    </div>
</div>

<div class="row">
    <div class="@Content">
        <p>
            Please
            <a href="@Urls["Calendly"]">schedule a time</a>
            for a phone call on my calendar.
        </p>
    </div>
</div>
