@page "/"
@inherits ArticleBase

<div class="row">
    <div class="@Content">
        <h3>Education</h3>
        <p class="mb-4">
            Graduated from Western State Colorado University with a bachelor of computer science;
            Kellen was awarded Summa Cum Laude and was one of the top performers of his computer science class. 
        </p>
        <h3>Professional Experience</h3>
        <p>
            Kellen has been working professionally as a developer since 2015. 
            Beginning with his internship at Lockheed Martin, he was hired on as a Software Engineeer, to then be promoted to Software Engineer II.
        </p>
        <p>
            In 2018, Kellen moved to Tyler Technologies where he would switch focus from defense to local government. 
            This year, Kellen was promoted to Software Engineer as a recognition of performing critical functions for his team.
        </p>
        <p>
            Beyond software development, Kellen trains new developers, performs DevOps functions, and is able to perform as a DBA when needed. 
            Kellen also has soft skills; he can communicate effectively and make mission critical decisions. 
        </p>
    </div>
    <div class="@Content d-flex justify-content-center">
        <img src="images/kellen1.jpg" class="img-fluid img-thumbnail" alt="Kellen" />
    </div>
</div>

@*
<div class="row">
    <div class="@content">
        <h3>Future</h3>
        <p>
            Kellen is looking for a company that makes a positive impact on the world.
            We as software engineers have immense power to do things that change peoples lives. 
            Team
        </p>
    </div>
</div>

*@
