@page "/JohnPeterson"

<h3>
    John Peterson
    <small class="text-muted">A legacy not forgotten</small>
</h3>
<hr/>

<div class="container">
    <div class="row">
        <p class="first-letter-large">
            John Peterson.
        </p>
    </div>
</div>