@page "/JohnPeterson"

<h3>
    John Peterson
    <small class="text-muted">A legacy never forgotten</small>
</h3>
<hr/>

<div class="container">
    <div class="row">
        <p class="subhead">
            Here's text in a row. I like typing on my keyboard because it brings a lot of job.
            From the Ducky to the Leopold F660C makes the weiner stiff at the mere thought of enjoying a cup of tea
            and having a hot wank on the beach.
        </p>
    </div>
</div>