@page "/JohnPeterson"
@inherits BlogBase

<h3>
    John Peterson
    <small class="text-muted">A legacy not forgotten</small>
</h3>
<hr/>

<div class="container">
    <div class="row">
        <p class="first-letter-large">
            John Peterson was a man I knew for only a short time...
            Back when I attended <a href="@Urls["WSCU"]">Western State Colorado University</a>,
            you could find John holed up in his office, 
            squinting at a computer screen on the first floor
            of Hurst Hall. Bordered by a six foot tall stack of classical music CD's,
            John might just be cleaning a stain from his shirt,
            inherited from his recent pilgrammage to McDonald's.
        </p>
        <p>
            "Kellen, have you made any progress since we last spoke?" he would proclain with a grin. 
            I grimaced realizing that I had not thought about the damn thing since last nights nerd corner session; 
            the <i>nerd corner</i> was a small computer filled place in the basement of the library where 
            all of the computer science students would get together and solve the most recent assignment.
            Since John taught every class, he would assemble all the students in the <i>nerd corner</i>
            to torture them with his most recent assignment.
        </p>
        <p>
            You see, John was <b>heavy</b> into functional programming. 
            If you look deep into his past, he has a list of prestigious accomplishments even though he may not ever mention it.
            John was the one of the authors of the <a href="@Urls["HaskellReport"]">Haskell Report</a> and the 
            <a href="@Urls["GentleIntroductionToHaskell"]">Gentle Introduction to Haskell</a>. 
            He earned a doctorate degree from the University of Utah, and taught computer science in Tucson Arizona
            before settling down in a research position at Yale Univerity. 
            [Quote from gunnison times] In his several years on the east coast, John put countless hours into the 
            research of computer languages and became one of the designers and implementers of Haskell, a
            functional computer language which befuddles and entrances students in equal measure to this day.
            
        </p>
        <p>
            I was one of those students. Our task today was to implement a meta-circular interpreter, and if that wasn't bad enough, we had to do it 
            in scheme. "Oh yeah, I've been thinking about it all day. It's my favorite thing to think about you know?"
            I would say sarcastically back to John. 
        </p>
    </div>
</div>